<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,user-scalable=yes,maximum-scale=2" />
  </head>

  <body>
    <div class="wrap">
    <%= render 'layouts/header/header' %>
    </div><!-- class=wrap -->
  </body>
</html>
