<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,user-scalable=yes,maximum-scale=2" />
  </head>

  <body>
    <div class="wrap">
    <header>
      <div id="header-contents">
        <div id="logo"><%= image_tag "logo.png",:height => "50"%></div>
        <a class="menu-trigger" href="#">
        	<span></span>
        	<span></span>
        	<span></span>
        </a>
      </div>
    </header>

    <section id="main">
      <div id="title">
        <h1>オンコリスバイオファーマ</h1>
        <div id="star">★★★★★（4.5）</div>
        <div id="es">次のES締切日は<span>７月１０日</span>です。</div>
      </div>
      <section id="details">
        <section id="detail-title">
          <h2>企業情報</h2>
        </section>
        <section id="detail-list">
          <section class="detail-row">
            <div class="t-left-culumn"><span class="title">設立</span></div>
            <div class="p-right-culumn"><span class="str">2004年3月</span></div>
          </section>
          <section class="detail-row">
            <div class="t-left-culumn"><span class="title">概要</span></div>
            <div class="p-right-culumn"><span class="str">希少ガンエイズなど重症感染症の治療薬、検査薬などの開発</span></div>
          </section>
          <section class="detail-row">
            <div class="t-left-culumn"><span class="title">特徴</span></div>
            <div class="p-right-culumn"><span class="str">短期開発、多くのパイプラインをもち、企業業務提携に精力的</span></div>
          </section>
          <section class="detail-row">
            <div class="t-left-culumn"><span class="title">業種</span></div>
            <div class="p-right-culumn"><span class="str">医薬品</span></div>
          </section>
          <section class="detail-row">
            <div class="t-left-culumn"><span class="title">年収</span></div>
            <div class="p-right-culumn"><span class="str">662万円</span></div>
          </section>
          <section class="detail-row">
            <div class="t-left-culumn"><span class="title">本社</span></div>
            <div class="p-right-culumn"><span class="str">東京都港区虎ノ門４−１−２８</span></div>
          </section>
          <section class="detail-row">
            <div class="t-left-culumn"><span class="title">ホームページ</span></div>
            <div class="p-right-culumn">
              <a href="http://www.oncolys.com"><span class="str">http://www.oncolys.com</span></a>
            </div>
          </section>
          <section class="detail-row">
            <div class="t-left-culumn"><span class="title">みんなの就活</span></div>
            <div class="p-right-culumn">
              <a href="http://www.nikki.ne.jp/es/4588/"><span class="str">http://www.nikki.ne.jp/es/4588/</span></a>
            </div>
          </section>
        </section>
      </section>
    </section>
    <footer>

    </footer>
    <!-- /.wrap --> </div>
  </body>

</html>
