<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="index.css"　type="text/css">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <br><br><br><br><br><br><br><br><br><br><br>
    <%= render 'layouts/menu' %>
   
    <section id="main">
      <div id="hist">
        <h2>最近見た企業</h2>
        <li>オンコリスバイオファーマ</li>
        <li>バーチャレクスコンサルティング</li>
        <li>平山</li>
        <li>富士ソフトSB</li>
        <li>ジャパンディスプレイ</li>
      </div>
      <div id="rank">
        <h2>ランキング</h2>
        <li>1位</li>
        <li>2位</li>
        <li>3位</li>
        <li>4位</li>
        <li>5位</li>
        <li>6位</li>
        <li>7位</li>
        <li>8位</li>
        <li>9位</li>
        <li>10位</li>
      </div>
      <div id="hot">

      </div>
    </section>
    <%= render 'layouts/footer' %>
  </body>
</html>
