<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,user-scalable=yes,maximum-scale=2" />
  </head>

  <body>
    <div class="wrap">
    <div id="top-page">
      
    <%= render 'layouts/header/header' %>
    <section id="top-menu">
      <div id="search">
        <%= form_tag 'home_page/search_list', :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
        <% end %>
      </div>
      <div id="navi">
        <li class="navi-col1">ESスケ</li>
        <li class="navi-col1">ランキング</li>
        <li class="navi-col1">コラム</li>
        <li class="navi-col2">業界分析</li>
        <li class="navi-col2">就活偏差値</li>
        <li class="navi-col2">ツール</li>
      </div>
    </section>
    <section id="main">
      <div id="hist">
        <h2>最近見た企業</h2>
        <li>オンコリスバイオファーマ</li>
        <li>バーチャレクスコンサルティング</li>
        <li>平山</li>
        <li>富士ソフトSB</li>
        <li>ジャパンディスプレイ</li>
      </div>
      <div id="rank">
        <h2>ランキング</h2>
        <li>1位</li>
        <li>2位</li>
        <li>3位</li>
        <li>4位</li>
        <li>5位</li>
        <li>6位</li>
        <li>7位</li>
        <li>8位</li>
        <li>9位</li>
        <li>10位</li>
      </div>
      <div id="hot">

      </div>
    </section>
    </div><!-- id=top-page -->
    </div><!-- class=wrap -->
  </body>
</html>
