<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,user-scalable=yes,maximum-scale=2" />
  </head>

  <body>
    <div class="wrap">
    <!-- header -->
    <%= render 'layouts/header/header' %>
    <section id="calendar">
      <script type="text/javascript" src="calendar.js"></script>
        
      
      
    </section>
    <!-- end header -->
    </div><!-- class=wrap -->
  </body>
</html>