<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,user-scalable=yes,maximum-scale=2" />
</head>

<body>
	<h1>掲示板<%= @corporation.name %></h1>
    <div><%= f.text_field :title %></div>
  	<div><%= f.text_area :body %></div>
  	<%= f.submit %><br>
	<% end %>
</body>

</html>






  