<header>
  <div id="header-contents">
    <div id="logo"><%= image_tag "logo.png",:height => "50"%></div>
    <a class="menu-trigger" href="#">
    	<span></span>
    	<span></span>
    	<span></span>
    </a>
  </div>
</header>