<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "就活ログ", '#', id:"logo" %>
        <nav>
          <!-- headerタグは、ページのトップに来るべき要素を表します。
          このheaderタグには、navbar、navbar-fixed-top、navbar-inverse
          という3つのCSSクラス3がスペース区切りで与えられています。-->
          <ul class="nav navbar-nav navbar-right">
            <!-- リンク (3.3.2で、アンカータグaを使用して作成) を生成するために、
            Railsヘルパーのlink_toを使用しています。link_toの第1引数はリンクテキスト、
            第2引数はURLです。このURIは5.3.3で名前付きルートのURLに変更しますが、
            今はWebデザインで一般に使用されるスタブURI’#’にしておきます。-->
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
</header>